<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <outboundRules>
                <rule name="app01_ReverseProxyOutboundRule" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^http(s)?://172.19.83.203/(.*)" />
                    <action type="Rewrite" value="http{R:1}://app01.txstudio.tw/{R:2}" />
                </rule>
                <rule name="app02_ReverseProxyOutboundRule" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^http(s)?://172.19.89.1/(.*)" />
                    <action type="Rewrite" value="http{R:1}://app02.txstudio.tw/{R:2}" />
                </rule>
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
            <rules>
                <rule name="app01_ReverseProxyInboundRule" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://172.19.83.203/{R:1}" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="app01.txstudio.tw" />
                    </conditions>
                </rule>
                <rule name="app02_ReverseProxyInboundRule" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://172.19.89.1/{R:1}" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="app02.txstudio.tw" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
